<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzTehc8HmVI9og_WDMVqy8NEuYPwU3nC0</string>
	<key>GCM_SENDER_ID</key>
	<string>990929502268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterRealtimeDatabase</string>
	<key>PROJECT_ID</key>
	<string>pdm2-76aa5</string>
	<key>STORAGE_BUCKET</key>
	<string>pdm2-76aa5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990929502268:ios:1953e60e54e5fe44214339</string>
</dict>
</plist>